@using SimControls.WASM.NetworkConnections
@inherits LayoutComponentBase

<div class="page">
    <div>
            <a href="/Landing" class="likeabutton">Landing</a>
            <a href="/AutoPilot" class="likeabutton">Auto Pilot</a>
    </div>
    <div id="bodyPosition">
            @Body
    </div>
</div>
