
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#bodyPosition{
    flex-grow: 1;
}

.fingerSize {
    transform: scale(2.0,2.0);
    transform-origin: top left;
    height: 50%;
    width: 50%;
}