@page "/Landing"
@implements IDisposable
@using SimControls.Model
@using System.ComponentModel
@inject LandingModel Variables;

<div id="root">
        <div id="EL">Elevator</div>
    <input id ="ELC" class="vert" type="range" 
           min="@Variables.ElevatorTrim.Minimum.Value" 
           max="@Variables.ElevatorTrim.Maximum.Value" Step="0.02" 
           @bind="Variables.ElevatorTrim.InvertedValue"/>
        <div id="FL">Flaps</div>
    <input id ="FLC" class="vert" type="range" min="0" 
           max="@Variables.Flaps.Maximum.Value" Step="1" 
               @bind="Variables.Flaps.Value"/>
        @if (Variables.GearRetractable.BoolValue)
        {
            <button @onclick="() => Variables.GearDown.Toggle()">
                Gear @(Variables.GearDown.BoolValue ? "Down" : "Up")
            </button>
        }
    </div>
@code {
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Variables.PropertyChanged += UpdateView;
    }
    
    private void UpdateView(object? s, PropertyChangedEventArgs e) => StateHasChanged();

    public void Dispose()
    {
        if (Variables != null) Variables.PropertyChanged -= UpdateView;
    }

}