#root {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
       "EleLabel FlapLabel GearButton GearButton"
       "Elev Flaps LightsL LightsR";
    width: 100%;
    height: 100%;
}

#Lights1{
    grid-area: LightsL;
    justify-self: stretch;
}
#Lights2{
    grid-area: LightsR;
    justify-self: stretch;
}

#GearButton {
    grid-area: GearButton;
    justify-self: stretch;
}

#EL {
    grid-area: EleLabel;
    justify-self: center;
}
#FL {
    grid-area: FlapLabel;
    justify-self: center;
}

#ELC {
    grid-area: Elev;
    justify-self: center;
    align-self: stretch;
}
#FLC {
    grid-area: Flaps;
    justify-self: center;
    align-self: stretch;
}