@page "/Landing"
@using SimControls.Model
@inject IVariableCache Variables;
@if (elevatorTrim != null)
{
    <div id="root">
        <div id="EL">Elevator</div>
        <input id ="ELC" class="vert" type="range" min="-0.35" max="0.35" Step="0.02" @bind="elevatorTrim.Value"/>
    </div>
}
@code {
    private DataItem<double>? elevatorTrim;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        var elt = Variables.ElevatorTrimPosition();
        elt.PropertyChanged += (s, e) => StateHasChanged();
        elevatorTrim = elt;
    }

}